<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>METAGEN Login demo</title>

    <link type="text/css" rel="stylesheet" href="/static/metagen/css/metagen-sp-access-button.min.css" />
    <script type="text/javascript" src="/static/metagen/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/metagen/js/metagen-sp-access-button.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>METAGEN Login demo</h1>

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
